__pycache__/
*.pyc
.DS_Store
.env
data/Vangogh.pdf
notebooks/RAG*.ipynb
notebooks/*RAG*.ipynb
storage/
storage_sql/
.ipynb_checkpoints/
.venv/
notebooks/knowledge-loss.ipynb
notebooks/langchain-postgres-sqlagent-1.ipynb
notebooks/langchain-postgres-sqlagent-template-5.ipynb
notebooks/langchain-chat-1.ipynb
notebooks/langchain-chat-2.ipynb
relation.sql
basebot/__pycache__/
basebot/eventdump.csv


